@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Etimesgut<br />
    ANKARA,06790<br />
    <abbr title="Phone">P:</abbr>
    05065478661
</address>

<address>
    <strong>Support:</strong>   <a href="hotmail.com">glsrndogu@gmail.com</a><br />
   
</address>