@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>John Donga Portfolio->Home</title>
    <link href="/Content/style/style.css" rel="stylesheet" type="text/css" />
    <!--slider start-->
    <link href="/Content/style/quake.slider.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Scripts/js/jquery.min.js"></script>
    <script src="/Scripts/js/quake.slider-min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.quake-slider').quake({ thumbnails: false, frameWidth: 600, frameHeight: 609 });
        });
    </script>
    <!--slider end-->
</head>
<body>
    <!--wrapper start-->
    <div id="wrapper">
        <!--mainbody start-->
        <div id="mainbody">
            <div id="logo">
                <a href="#"></a>
            </div>
            <!--content start-->
            <div id="content">
                <!--leftsidebar start-->
                <div id="leftsidebar">
                    <!--main_tittle start-->
                    <div class="main_tittle">
                        <h3>
                            Hi, My Name is Gulseren Dogu
                        </h3>
                    </div>
                    <!--main_tittle start-->
                    <div class="clearfix">
                    </div>
                    <!--main_desc start-->
                    <div class="main_desc">
                        <p>
                           I am a student at Yildirim Beyazit University and i am also a applicant for Computer Engineer.
                        </p>
                    </div>
                    <!--main_desc end-->
                    <div class="clearfix">
                    </div>
                    <!--update start-->
                    <div class="update">
                        <h2>
                            Useful Link
                        </h2>
                        <br />
                        <ul>
                            <li>
                                <a href="http://www.ybu.edu.tr">
                                    Yildirim Beyazit University
                                </a>
                            </li>
                            <li>
                                <a href="http://www.w3school.com">
                                   About Web Application
                                </a>
                            </li>
                            <li>
                                <a href="http://www.github.com">
                                    For Different Application
                                </a>
                            </li>
                            <li>
                                <a href="http://www.noupe.com">
                                   For this project,it is helped for template.
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                       
                    <!--update end-->
                    <div class="clearfix">
                    </div>
                    <!--about start-->
                    <div class="about">
                        <h2>
                            About this site
                        </h2>
                        <br />
                        <p>
                           This web site is preperad for Web Application Class.This is a term project.
                        </p>
                    </div>
                    <!--about end-->
                </div>
                <!--leftsidebar end-->
                <!--navigation start-->
                <div id="navigation">
                    <div class="nav">
                        <ul>
                            <li><a href="#" class="active"><span>Home</span></a></li>
                          
                        </ul>
                    </div>
                </div>
                <!--navigation end-->
                <!--sidebar start-->
                <div id="sidebar">
                    <div id="slider-wrapper">
                        <div class="quake-slider">
                            <div class="quake-slider-images">
                                <img src="images/gulseren.jpg" alt="" />
                                <img src="images/slider01.jpg" alt="" />
                                <img src="images/slider02.jpg" alt="" />
                                <img src="images/slider03.jpg" alt="" />
                            </div>
                            <div class="quake-slider-captions">
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!--sidebar end-->
            </div>
            <!--content end-->
        </div>
        <!--mainbody end-->
    </div>
    <!--wrapper end-->
    <div class="clearfix">
    </div>
    <!--footer start-->
    <div id="footer">
        
        <p>
            <span>All Rights Reserved.</span>
        </p>
        <div class="clearfix">
        </div>
    </div>
    <!--footer end-->
</body>
</html>

